:root {
    --primary-color: #EE1C25;
}
.about-section-1 {
    background-position: center;
    background-size:cover;
    padding: 100px 0;
}
.about-section-1 h1 {
    font-size: 50px;
    font-weight: 900; 
    color: rgb(57, 39, 39);
    letter-spacing: 2px;
}

.about-section-3 {
    display: flex;
    align-items: center;
    gap: 20px;
}
.about-section-3 > div {
    width: 50%;
}
.about-section-5 {
    background-position: center;
    background-size: cover;
    padding: 100px;
    border-image: linear-gradient(to top , #0000005f , #0000004a) 1 fill;
}
.about-section-6 .swiper-wrapper {
    height: fit-content;
}
.about-section-6 .swiper {
    height: fit-content;
}
.about-section-6 .swiper-slide{
    height: fit-content;
}
.about-section-6 .swiper-slide:hover{
    transform: none;
}
.swiper-button-next::after ,
.swiper-button-prev::after {
    color: var(--primary-color);
    font-size: 20px !important;
}

.card-footer-read {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    width: fit-content;
    margin: 10px auto;
    padding: 5px 10px;
}
.card-footer-read:hover {
    background-color: transparent;
    color: var(--primary-color);
}
.act-tour-img {
    min-width: 300px;
}

@media screen and (max-width:1024px){
    .about-section-3 {
        flex-direction: column;
    }
    .about-section-3 > div {
        width: 100%;
    }
    .about-section-5 {
        padding: 50px;
    }
    .review-swiper {
        width: 100% !important;
    }
    .act-tour-img {
        max-height: 150px;
    }
    .act-tours {
        flex-direction: column;
    }
    .tour-description-price h6{
        font-size: 12px;
    }
    .tour-description-price h5{
        font-size: 14px;
    }
    .act-tour-description {
        display: none;
    }
    .act-day-time i,
    .act-day-time span{
        font-size: 12px;
    }
    .act-country {
        font-size: 12px;
    }
}